.agenda-and-targets {
  padding: 5rem 2rem;
}

.title {
  text-align: center;

  h2 {
    color: #6F9032;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  h3 {
    color: #55B047;
    text-align: center;
    font-style: normal;
    font-size: 50px;
    font-weight: 700;
  }
}